extends ../views/layout

block content
  .nav
  .product
    .product-image
      img(src="#{product.imgs[0].url}")
    .product-detail
      .product-name= product.name
      .product-price= product.price('reg').v
      .product-url
        a(href="#{product.url}")= product.url
      .product-description= product.des

  .product-json(style="clear: both;")
    pre= product

block footer-script
  script.
    require('product-detail-boot')();
