extends ../views/user

block append content
  h1 Edit Product - ##{product._id}: #{product.name}
  form(action="/products/#{product._id}", method="POST")
    input(type="hidden", name="_method", value="put")
    input(type="text", name="name", value="#{product.name}", placeholder="Name")
    input(type="url", name="url", value="#{product.url}", placeholder="URL")
    input(type="string", name="prices[0][v]", value="#{product.price('reg').v}", placeholder="Regular Price");
    input(type="hidden", name="prices[0][t]", value="reg");
    input(type="string", name="prices[1][v]", value="#{product.price('org').v}", placeholder="Original Price");
    input(type="hidden", name="prices[1][t]", value="org");
    input(type="hidden", name="prices[1][cur]", value="RMB¥");
    input(type="submit")
  form(action="/products/#{product._id}", method="POST")
    input(type="hidden", name="_method", value="delete")
    input(type="submit", value="Delete")
